* {font-family: 'Helvetica';}

header, footer {background-color: rgb(70,130,180);
                color: white;
                height: 30px;
                text-align: center;}
        
main {background-color: rgb(176,196,222);
        padding: 50px;
        text-align: center;}

left {background-color: rgb(70,130,180);
        height: 300px;
        width: 80%;
        color: white;
        float: left;}

right {background-color: rgb(70,130,180);
        height: 300px;
        width: 20%;
        color: white;
        float: right;}

footer {clear: both;}

main > img {padding: 3px;
            border: 1px dashed blue;
            border-radius: 10px;}

left > img {height: 40%;}
left > img:hover {border: solid white 1px;}
